/* src/assets/fonts.css */
@font-face {
    font-family: 'Panton Narrow';
    src: url('/assets/fonts/PantonNarrowTrial.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Heavy.otf') format('truetype');
    font-weight: 800; /* Define specific weight if needed */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Heavy-Italic.otf') format('truetype');
    font-weight: 800; /* Define specific weight for italic */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-ExtraBold.otf') format('truetype');
    font-weight: 600; /* Adjust based on the font weight scale */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-ExtraLight.otf') format('truetype');
    font-weight: 200; /* Adjust based on the font weight scale */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Light.otf') format('truetype');
    font-weight: 300; /* Adjust based on the font weight scale */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-SemiBold.otf') format('truetype');
    font-weight: 600; /* Adjust based on the font weight scale */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Thin.otf') format('truetype');
    font-weight: 100; /* Thin weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/Panton-Narrow-Trial.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  